.clear:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
}

#banner {
  width: 100%;
  height: 523px;
  overflow: hidden;
  position: relative;
}

#banner ol {
  position: absolute;
  left: 635px;
  bottom: 7px;
  float: left;
}

#banner ol > li {
  width: 42px;
  height: 2px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  background-color: white;
  transition: all 0.3s;
}

#banner ol > li.active {
  height: 5px;
}

#banner .list li {
  position: absolute;
  left: -522px;
  top: 0;
  opacity: 0;
  transition: all 0.6s;
}

#banner .list li img {
  height: 523px;
  display: block;
}

#banner .phone-list .wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#banner .phone-list .wrapper .allgoods {
  position: absolute;
  top: 20px;
  left: 0;
  width: 200px;
  height: 482px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.65);
}

#banner .phone-list .wrapper .allgoods > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

#banner .phone-list .wrapper .allgoods > li:nth-of-type(1) {
  margin-top: 25px;
}

#banner .phone-list .wrapper .allgoods > li:hover {
  background: #fff;
}

#banner .phone-list .wrapper .allgoods > li:hover .phone-detail {
  display: block;
}

#banner .phone-list .wrapper .allgoods > li > a {
  display: block;
  padding: 0 48px 0 42px;
  color: #333;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#banner .phone-list .wrapper .allgoods > li > a .arrow {
  display: inline-block;
  width: 6px;
  height: 10px;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

#banner .phone-list .wrapper .allgoods > li > a .arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 1px;
  background: currentColor;
  transform-origin: left center;
  transform: rotate(40deg);
}

#banner .phone-list .wrapper .allgoods > li > a .arrow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 7px;
  height: 1px;
  background: currentColor;
  transform-origin: left center;
  transform: rotate(-32deg);
}

#banner .phone-list .wrapper .allgoods > li .phone-detail {
  display: none;
  padding: 8px 50px 0 44px;
  text-align: left;
  width: 656px;
  height: 475px;
  white-space: normal;
  background: #fff;
  position: absolute;
  left: 198px;
  top: -26px;
  background-clip: padding-box;
  border-left: 14px solid transparent;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail > p {
  width: 100%;
  height: 58px;
  color: #252525;
  font-size: 16px;
  line-height: 58px;
  position: relative;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail > p > a {
  color: #999;
  font-size: 12px;
  line-height: 58px;
  position: absolute;
  top: 0px;
  right: 0;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav {
  margin-bottom: 9px;
  padding-bottom: 6px;
  text-align: justify;
  border-bottom: 1px solid #e5e5e5;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li {
  margin-bottom: 12px;
  width: 156px;
  display: inline-block;
  vertical-align: top;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(1) a {
  position: relative;
  z-index: 0;
  display: block;
  padding: 0 8px;
  color: #555;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 6px;
  background: url(https://shopstatic.vivo.com.cn/vivoshop/category/1530530826053hd_312x100.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(2) {
  margin-left: 5px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(2) a {
  position: relative;
  z-index: 0;
  display: block;
  padding: 0 8px;
  color: #555;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 6px;
  background: url(https://shopstatic.vivo.com.cn/vivoshop/category/1537348549254hd_312x100.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(3) {
  margin-left: 5px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(3) a {
  position: relative;
  z-index: 0;
  display: block;
  padding: 0 8px;
  color: #555;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 6px;
  background: url(https://shopstatic.vivo.com.cn/vivoshop/category/1541645495010hd_312x100.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(4) {
  margin-left: 5px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-nav > li:nth-of-type(4) a {
  position: relative;
  z-index: 0;
  display: block;
  padding: 0 8px;
  color: #555;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 6px;
  background: url(https://shopstatic.vivo.com.cn/vivoshop/category/1530530649218hd_312x100.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product {
  margin-bottom: -40px;
  padding-top: 16px;
  width: 690px;
  text-align: justify;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  width: 222px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li:nth-of-type(1)::before {
  content: "";
  position: absolute;
  margin: -17px 0 0 36px;
  width: 26px;
  height: 26px;
  background: #fc4f66 center/18px no-repeat url(../img/hot_c29ecc5.png);
  border-radius: 50%;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  margin: -17px 0 0 36px;
  width: 26px;
  height: 26px;
  background: #fc854f center/18px no-repeat url(../img/recommend_e6d56bf.png);
  border-radius: 50%;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li:nth-of-type(11) {
  margin-left: 6px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li:nth-of-type(12) {
  margin-left: 6px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li img {
  vertical-align: middle;
  display: inline-block;
  width: 46px;
  height: 46px;
}

#banner .phone-list .wrapper .allgoods > li .phone-detail .phone-product li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  max-width: 168px;
  color: #252525;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#banner .phone-list .wrapper .allgoods > li .charge {
  position: absolute;
  left: 198px;
  top: -85px;
}

#banner .phone-list .wrapper .allgoods > li .music {
  position: absolute;
  left: 198px;
  top: -148px;
}

#banner .phone-list .wrapper .allgoods > li .parts {
  position: absolute;
  left: 198px;
  top: -209px;
}

#banner .phone-list .wrapper .allgoods > li .intellge {
  position: absolute;
  left: 198px;
  top: -271px;
}

#banner .phone-list .wrapper .allgoods > li .camera {
  position: absolute;
  left: 198px;
  top: -333px;
}

#banner .phone-list .wrapper .allgoods > li .live {
  position: absolute;
  left: 198px;
  top: -396px;
}

.middle {
  width: 100%;
  background: #f7f7f5;
}

.middle .wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.middle .wrapper .floor {
  width: 100%;
  text-align: justify;
  padding-bottom: 40px;
  display: inline-block;
  margin-top: 11px;
}

.middle .wrapper .floor > li {
  width: 293px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 0;
  margin: 0 1.5px;
  text-align: center;
  background-color: #fff;
  transition: all .2s linear;
}

.middle .wrapper .floor > li:hover {
  transform: translate3d(0, -2px, 0);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.middle .wrapper .floor > li > a {
  display: block;
}

.middle .wrapper .floor > li > a > img {
  display: inline-block;
  height: 140px;
}
