.clear:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden
}

body {
    position: relative;
}

#section {
    width: 100%;
    background: #f7f7f5;
    .wrapper {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

.section_top {
    .info {
        .subject {
            padding: 38px 0 25px;
            color: #333;
            font-size: 24px;
            line-height: 1;
            text-align: center;
            position: relative;
        }
        .more {
            color: #333;
            font-size: 14px;
            line-height: 1;
            position: absolute;
            top: 50px;
            right: 0;
            &:hover {
                color: red;
            }
            .icon-arrow-r {
                font-size: 12px;
            }
        }
    }
}

.goodslist {
    display: inline-block;
    width: 100%;
    line-height: 0;
    text-align: justify;
    >li {
        width: 394px;
        height: 511px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        font-size: 0;
        margin: 0 1px;
        text-align: center;
        background-color: #fff;
        transition: all .2s linear;
        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }
        &:hover .color {
            display: block;
        }
        >a {
            display: block;
            img {
                margin-top: 58px;
                width: 230px;
                height: 230px;
            }
        }
        .prodinfo {
            position: relative;
            .name {
                padding-top: 29px;
                font-size: 20px;
                line-height: 30px;
                color: #333;
            }
            .give {
                height: 24px;
                line-height: 24px;
                color: #333;
                padding: 8px 50px 53px;
                font-size: 14px;
            }
        }
        .color {
            width: 394px;
            position: absolute;
            left: 0px;
            bottom: 135px;
            text-align: center;
            background: #fff;
            display: none;
            .name {
                padding-top: 29px;
                font-size: 20px;
                line-height: 30px;
                color: #333;
            }
            >ul {
                padding-top: 8px;
                >li {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    margin: 0 6px;
                    &:hover {
                        transform: translate3d(0, -2px, 0);
                        box-shadow: 0 7px 10px 0 rgba(87, 87, 84, .3);
                    }
                    &:nth-of-type(1) {
                        background-color: #1B31C1;
                        background-image: linear-gradient(to right bottom, #1B31C1, #450B8E);
                    }
                    &:nth-of-type(2) {
                        background-color: #010102;
                        background-image: linear-gradient(to right bottom, #010102, #151C8C);
                    }
                    &:nth-of-type(3) {
                        background-color: #FCDDEA;
                        background-image: linear-gradient(to right bottom, #FCDDEA, #DAB0E4);
                    }
                }
            }
        }
        .price {
            font-size: 18px;
            color: #f51919;
            line-height: 1;
            &::before {
                content: "¥";
                margin-right: 2px;
                color: rgb(245, 25, 25);
                font-size: 14px;
                font-family: "Avenir Roman", "Microsoft YaHei", 微软雅黑;
            }
        }
    }
}

.section_middle {
    .info {
        .subject {
            padding: 38px 0 25px;
            color: #333;
            font-size: 24px;
            line-height: 1;
            text-align: center;
            position: relative;
        }
        .more {
            color: #333;
            font-size: 14px;
            line-height: 1;
            position: absolute;
            top: 50px;
            right: 0;
            &:hover {
                color: red;
            }
            .icon-arrow-r {
                font-size: 12px;
            }
        }
    }
}

.phone-box {
    display: inline-block;
    width: 100%;
    line-height: 0;
    text-align: justify;
    >li {
        width: 293px;
        height: 380px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 3px 10px 0;
        font-size: 0;
        text-align: center;
        background-color: #fff;
        transition: all .2s linear;
        &:nth-of-type(1) {
            width: 595px;
            height: 380px;
            >a {
                display: block;
                img {
                    margin-top: 0;
                    width: 595px;
                    height: 380px;
                }
            }
        }
        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }
        &:hover .color {
            display: block;
        }
        >a {
            display: block;
            img {
                margin-top: 58px;
                width: 172px;
                height: 172px;
            }
        }
        .prodinfo {
            position: relative;
            .name {
                padding-top: 16px;
                font-size: 16px;
                line-height: 30px;
                color: #333;
            }
            .give {
                height: 24px;
                line-height: 24px;
                color: #333;
                padding: 2px 15px 40px;
                font-size: 12px;
            }
        }
        .color {
            width: 293px;
            position: absolute;
            left: 0px;
            bottom: 80px;
            z-index: 1;
            text-align: center;
            background: #fff;
            display: none;
            .name {
                padding-top: 29px;
                font-size: 16px;
                line-height: 30px;
                color: #333;
            }
            >ul {
                padding-top: 8px;
                >li {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    margin: 0 6px;
                    &:hover {
                        transform: translate3d(0, -2px, 0);
                        box-shadow: 0 7px 10px 0 rgba(87, 87, 84, .3);
                    }
                    &:nth-of-type(1) {
                        background-color: #1B31C1;
                        background-image: linear-gradient(to right bottom, #1B31C1, #450B8E);
                    }
                    &:nth-of-type(2) {
                        background-color: #010102;
                        background-image: linear-gradient(to right bottom, #010102, #151C8C);
                    }
                    &:nth-of-type(3) {
                        background-color: #FCDDEA;
                        background-image: linear-gradient(to right bottom, #FCDDEA, #DAB0E4);
                    }
                }
            }
        }
        .price {
            font-size: 16px;
            color: #f51919;
            line-height: 1;
            &::before {
                content: "¥";
                margin-right: 2px;
                color: rgb(245, 25, 25);
                font-size: 14px;
                font-family: "Avenir Roman", "Microsoft YaHei", 微软雅黑;
            }
        }
    }
}

.section_bottom {
    .info {
        .subject {
            padding: 38px 0 25px;
            color: #333;
            font-size: 24px;
            line-height: 1;
            text-align: center;
            position: relative;
        }
        .more {
            color: #333;
            font-size: 14px;
            line-height: 1;
            position: absolute;
            top: 50px;
            right: 0;
            &:hover {
                color: red;
            }
            .icon-arrow-r {
                font-size: 12px;
            }
        }
        >ul {
            position: absolute;
            top: 49px;
            right: 43px;
            li {
                float: left;
                &:hover a {
                    color: red
                }
                a {
                    display: inline-block;
                    margin: 0 4px;
                    color: #333;
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
    }
}

.peijian {
    display: inline-block;
    width: 100%;
    line-height: 0;
    text-align: justify;
    padding-bottom: 70px;
    >li {
        width: 293px;
        height: 380px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 3px 10px 0;
        font-size: 0;
        text-align: center;
        background-color: #fff;
        transition: all .2s linear;
        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            transform: translate3d(0, -2px, 0);
        }
        &:hover .color {
            display: block;
        }
        >a {
            display: block;
            img {
                margin-top: 58px;
                width: 172px;
                height: 172px;
            }
        }
        .prodinfo {
            position: relative;
            .name {
                padding-top: 16px;
                font-size: 16px;
                line-height: 30px;
                color: #333;
            }
            .give {
                height: 24px;
                line-height: 24px;
                color: #333;
                padding: 2px 15px 40px;
                font-size: 12px;
            }
        }
        .color {
            width: 293px;
            position: absolute;
            left: 0px;
            bottom: 80px;
            z-index: 1;
            text-align: center;
            background: #fff;
            display: none;
            .name {
                padding-top: 29px;
                font-size: 16px;
                line-height: 30px;
                color: #333;
            }
            >ul {
                padding-top: 8px;
                >li {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    margin: 0 6px;
                    &:hover {
                        transform: translate3d(0, -2px, 0);
                        box-shadow: 0 7px 10px 0 rgba(87, 87, 84, .3);
                    }
                    &:nth-of-type(1) {
                        background-color: #1B31C1;
                        background-image: linear-gradient(to right bottom, #1B31C1, #450B8E);
                    }
                    &:nth-of-type(2) {
                        background-color: #010102;
                        background-image: linear-gradient(to right bottom, #010102, #151C8C);
                    }
                    &:nth-of-type(3) {
                        background-color: #FCDDEA;
                        background-image: linear-gradient(to right bottom, #FCDDEA, #DAB0E4);
                    }
                }
            }
        }
        .price {
            font-size: 16px;
            color: #f51919;
            line-height: 1;
            &::before {
                content: "¥";
                margin-right: 2px;
                color: rgb(245, 25, 25);
                font-size: 14px;
                font-family: "Avenir Roman", "Microsoft YaHei", 微软雅黑;
            }
        }
    }
}

#side-bar {
    position: fixed;
    z-index: 99;
    right: 0;
    bottom: 50px;
    margin-bottom: 50px;
    >li {
        width: 50px;
        height: 50px;
        background-color: #fff;
        cursor: pointer;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        transition: all 0.4s;
        position: relative;
        &:hover .prompt {
            display: block;
        }
        &:hover {
            background-color: #ebebeb;
            color: red;
        }
    }
    .backtop {
        display: none;
    }
    .prompt {
        display: none;
        width: 133px;
        color: #4c4c4c;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        cursor: default;
        position: absolute;
        right: 60px;
        top: 0;
        border: 1px solid #ebebeb;
        background-color: #fff;
        box-shadow: 0 0 50px 1px rgba(100, 100, 100, .1);
        .triangle {
            position: absolute;
            right: -7px;
            top: 19px;
            width: 7px;
            height: 12px;
            background: center center no-repeat url(../img/sidebar-triangle.png);
        }
    }
}